    <header class="header">
        <nav class="header_nav">
            <ul class="header_nav-ul">
                <li class="list_item"><a href="/"  class="<%= path === '/' ? 'active' : ''%>">Home</a></li>
                <li class="list_item"><a class="<%= path === '/admin/add-products' ? 'active' : ''%>" href="/admin/add-products">Add Product</a></li>
                <li class="list_item"><a class="<%= path === '/admin/add-users' ? 'active' : ''%>" href="/admin/add-users">Add User</a></li>            
                <li class="list_item"><a class="<%= path === '/cart' ? 'active' : ''%>" href="/cart">Cart</a></li>   
                <li class="list_item"><a class="<%= path === '/order' ? 'active' : ''%>" href="/order">Order</a></li>   
                <li class="list_item"><a class="<%= path === '/checkout' ? 'active' : ''%>" href="/checkout">CheckOut</a></li>
                <li class="list_item"><a class="<%= path === '/product-list' ? 'active' : ''%>" href="/product-list">Your Product List</a></li>  
                <li class="list_item"><a class="<%= path === '/admin/admin-product' ? 'active' : ''%>" href="/admin/admin-product">Admin Product List</a></li>          
            </ul>
        </nav>
    </header>