<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <section>
            <article>
                <h1>Product List</h1>
                <% if( prods.length > 0 ) { %>
                 <div class="prod_grid-container">
                    <% for(let product of prods) { %>
                        <div class="prod_card">
                            <div class="prod_avatar">
                                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="prod_avatar">
                            </div>
                            <div class="prod_details">
                                <span class="prod_name"><%= product.title %></span>
                                <span class="prod_description"><%= product.description %></span>
                            </div>
                            <div class="prod_price">
                                <span>$<%= product.price %></span>
                            </div>
                            <%- include('../includes/add-to-cart.ejs',{product:product}) %>
                        </div>
                    <% } %>    
                </div>
                <% } else { %>
                    <h1>Page Not Found!!!</h1>
                <% } %>    
               </article>
         </section>
    </main>
<%- include('../includes/end.ejs') %>